  body {
    background-image: url(https://wallpaperaccess.com/full/2641115.gif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
  }

.image-container {
    margin-top: 50px;
    text-align: center;
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #0f0000;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.877);
    margin: 0 auto;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #02000094;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.719);
    border-radius: 10px;
}

.passform {
    margin-top: 20px;
}

.passform input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #020000;
    outline: none;
    font-size: 16px;
}

.passform input[type="password"]:focus {
    border-bottom: 1px solid #00e1ff;
}

.passform input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #df0505;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.textbox{
    max-width: 300px;
    margin: 0 auto;
    background-color: #b11105c2;
    padding: 20px;
}

.footer {
    background-color: #333;
    padding: 20px;
}

.footer p {
    margin: 0;
}

.social-media {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
}

.social-media li a {
    color: #fff;
    font-size: 18px;
}

.social-media li a:hover {
    color: #007bff;
}


@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  :root {
    --card-width: 40vh;
    --card-height: calc(var(--card-width) / 1.5);
  }
  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  .card:hover {
    color: rgb(255, 0, 0);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #000000, #ff0000 43%, #470030);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1.2);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #000000, #ff0000 43%, #470030);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  /* THE LOGO CARD */
  .card-logo {
    background: #191c2946;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  .card-logo:hover {
    color: rgb(255, 0, 0);
    transition: color 1s;
  }
  .card-logo:hover:before, .card:hover:after {
    animation: none;
  }
  .card-logo::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 50%;
    background-image: linear-gradient(
      var(--rotate)
      , #ff00aa, #770303 43%, #2300be);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  .card-logo::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
    transform: scale(1.2);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #ff00aa, #770303 43%, #2300be);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
/* THE CARD LOGO END */
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }